USE [master]
GO
/****** Object:  Database [KNDHEALTHCARE]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE DATABASE [KNDHEALTHCARE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KNDHEALTHCARE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KNDHEALTHCARE.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KNDHEALTHCARE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KNDHEALTHCARE_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KNDHEALTHCARE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KNDHEALTHCARE]
GO
/****** Object:  User [sa]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE USER [sa] FOR LOGIN [sa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BIENBANHUYTHUOC]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIENBANHUYTHUOC](
	[MABB] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAPBB] [date] NULL,
	[MANV] [varchar](10) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_BIENBANHUYTHUOC] PRIMARY KEY CLUSTERED 
(
	[MABB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETBIENBAN]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBIENBAN](
	[MABB] [int] NOT NULL,
	[MATHUOC] [int] NOT NULL,
	[NGAYHUY] [date] NULL,
	[SOLUONGHUY] [int] NULL,
	[HSD] [date] NULL,
 CONSTRAINT [PK_CHITIETBIENBAN] PRIMARY KEY CLUSTERED 
(
	[MABB] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUDATMUA]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUDATMUA](
	[MATHUOC] [int] NOT NULL,
	[SOPHIEUDAT] [int] NOT NULL,
	[SOLUONGMUA] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUDATMUA] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC,
	[SOPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUATHUOC]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUATHUOC](
	[MATHUOC] [int] NOT NULL,
	[SOPHIEUMUA] [int] NOT NULL,
	[SOLUONGMUA] [int] NULL,
	[DONGIATHUOC] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUATHUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC,
	[SOPHIEUMUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDTKHACHHANG] [varchar](11) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[SDTKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOTHUOC]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOTHUOC](
	[MAKHO] [char](1) NOT NULL,
 CONSTRAINT [PK_KHOTHUOC] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAITHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITHUOC] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[MAKHO] [char](1) NULL,
 CONSTRAINT [PK_LOAITHUOC] PRIMARY KEY CLUSTERED 
(
	[MALOAITHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[SDTNV] [varchar](11) NULL,
	[CHUCVU] [nvarchar](15) NULL,
	[HINHNV] [nvarchar](200) NULL,
	[MATKHAU] [varchar](64) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDATMUA]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDATMUA](
	[SOPHIEUDAT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUA] [date] NULL,
	[THANHTIEN] [money] NULL,
	[MANV] [varchar](10) NULL,
	[MANCC] [int] NULL,
 CONSTRAINT [PK_PHIEUDATMUA] PRIMARY KEY CLUSTERED 
(
	[SOPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUATHUOC]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMUATHUOC](
	[SOPHIEUMUA] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUA] [date] NULL,
	[TONGTIEN] [money] NULL,
	[SDTKHACHHANG] [varchar](11) NULL,
 CONSTRAINT [PK_PHIEUMUATHUOC] PRIMARY KEY CLUSTERED 
(
	[SOPHIEUMUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 12/9/2021 12:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUOC] [nvarchar](100) NULL,
	[DVT] [nvarchar](20) NULL,
	[DONGIA] [int] NULL,
	[SOLUONGTON] [int] NULL,
	[NGAYSANXUAT] [date] NULL,
	[HANSUDUNG] [date] NULL,
	[HINHTHUOC] [varchar](200) NULL,
	[MOTA] [nvarchar](500) NULL,
	[MALOAITHUOC] [int] NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BIENBANHUYTHUOC] ON 

INSERT [dbo].[BIENBANHUYTHUOC] ([MABB], [NGAYLAPBB], [MANV], [TRANGTHAI]) VALUES (1, CAST(N'2021-12-09' AS Date), N'1811060369', 0)
INSERT [dbo].[BIENBANHUYTHUOC] ([MABB], [NGAYLAPBB], [MANV], [TRANGTHAI]) VALUES (2, CAST(N'2021-12-09' AS Date), N'1811060369', 0)
SET IDENTITY_INSERT [dbo].[BIENBANHUYTHUOC] OFF
INSERT [dbo].[CHITIETBIENBAN] ([MABB], [MATHUOC], [NGAYHUY], [SOLUONGHUY], [HSD]) VALUES (2, 1, CAST(N'2021-12-09' AS Date), 49, CAST(N'2022-10-20' AS Date))
INSERT [dbo].[CHITIETPHIEUDATMUA] ([MATHUOC], [SOPHIEUDAT], [SOLUONGMUA]) VALUES (1, 1, 50)
INSERT [dbo].[CHITIETPHIEUDATMUA] ([MATHUOC], [SOPHIEUDAT], [SOLUONGMUA]) VALUES (4, 4, 20)
INSERT [dbo].[CHITIETPHIEUMUATHUOC] ([MATHUOC], [SOPHIEUMUA], [SOLUONGMUA], [DONGIATHUOC]) VALUES (1, 2, 5, 135000)
INSERT [dbo].[CHITIETPHIEUMUATHUOC] ([MATHUOC], [SOPHIEUMUA], [SOLUONGMUA], [DONGIATHUOC]) VALUES (1, 3, 5, 135000)
INSERT [dbo].[CHITIETPHIEUMUATHUOC] ([MATHUOC], [SOPHIEUMUA], [SOLUONGMUA], [DONGIATHUOC]) VALUES (1, 5, 5, 135000)
INSERT [dbo].[KHACHHANG] ([SDTKHACHHANG], [TENKHACHHANG], [DIACHI]) VALUES (N'0147258369', N'Trần Châu Khoa', N'TP.HCM')
INSERT [dbo].[KHACHHANG] ([SDTKHACHHANG], [TENKHACHHANG], [DIACHI]) VALUES (N'0369258147', N'Nguyễn Văn A', N'TP.HCM')
INSERT [dbo].[KHACHHANG] ([SDTKHACHHANG], [TENKHACHHANG], [DIACHI]) VALUES (N'0389093173', N'Vương Hoàng Hậu', N'TP.HCM')
INSERT [dbo].[KHOTHUOC] ([MAKHO]) VALUES (N'A')
INSERT [dbo].[KHOTHUOC] ([MAKHO]) VALUES (N'B')
INSERT [dbo].[KHOTHUOC] ([MAKHO]) VALUES (N'C')
SET IDENTITY_INSERT [dbo].[LOAITHUOC] ON 

INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [TENLOAITHUOC], [GHICHU], [MAKHO]) VALUES (1, N'Thuốc Kháng Viêm', N'Medialeczan x8', N'A')
INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [TENLOAITHUOC], [GHICHU], [MAKHO]) VALUES (2, N'Thuốc Giảm Đau', N'Panadol x10, Panadol Extra x5, Glotadol Flu x2, Advil x6', N'A')
INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [TENLOAITHUOC], [GHICHU], [MAKHO]) VALUES (3, N'Thuốc Kháng Sinh', N'Amoxicillin x7', N'B')
SET IDENTITY_INSERT [dbo].[LOAITHUOC] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1, N'(Sapharco) Công ty TNHH MTV Dược Sài Gòn', N'18 - 20 Nguyễn Trường Tộ, Phường 13, Quận 4, Tp.HCM', N'0287107987')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (2, N'(SPM) Công ty Cổ phần SPM', N'Lô 51, Đường số 2, KCN Tân Tạo, Q.Bình Tân, TP.HCM', N'1900545469')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (4, N'(Pharmedic) Công Ty Cổ Phần Dược Phẩm Dược Liệu', N'367 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1, TP. HCM', N'0283920030')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDTNV], [CHUCVU], [HINHNV], [MATKHAU]) VALUES (N'1811060097', N'Đàm Công Danh', 1, CAST(N'2000-09-06' AS Date), N'0961277270', N'Nhân Viên', N'D:\Learn\[DA] DoAnChuyenNganh\Private\New\KND HEALTHCARE\Picture\Staff\Danh.jpg', N'7ee12742b9c1b0664334bf044daf5716fa2660e4d3d415b870c337555b9158b2')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDTNV], [CHUCVU], [HINHNV], [MATKHAU]) VALUES (N'1811060369', N'Trần Châu Khoa', 1, CAST(N'2000-09-27' AS Date), N'0934165224', N'Quản Lí', N'D:\Learn\[DA] DoAnChuyenNganh\Private\New\KND HEALTHCARE\Picture\Staff\Khoa.jpg', N'99506163f21ce0a2465417223909581dbe1b72be4be49b49ca167cd9c59303fd')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [SDTNV], [CHUCVU], [HINHNV], [MATKHAU]) VALUES (N'1811061805', N'Nguyễn Tâm Như', 1, CAST(N'2000-08-18' AS Date), N'083433649', N'Nhân Viên', N'', N'b7f5b6f1d8a5db7c9100861d64c9b36fcbcf9a44cd38494cc9d5519a909cca67')
SET IDENTITY_INSERT [dbo].[PHIEUDATMUA] ON 

INSERT [dbo].[PHIEUDATMUA] ([SOPHIEUDAT], [NGAYMUA], [THANHTIEN], [MANV], [MANCC]) VALUES (1, CAST(N'2021-11-30' AS Date), 10000000.0000, N'1811060369', 1)
INSERT [dbo].[PHIEUDATMUA] ([SOPHIEUDAT], [NGAYMUA], [THANHTIEN], [MANV], [MANCC]) VALUES (2, CAST(N'2021-12-05' AS Date), 500000.0000, N'1811060369', 4)
INSERT [dbo].[PHIEUDATMUA] ([SOPHIEUDAT], [NGAYMUA], [THANHTIEN], [MANV], [MANCC]) VALUES (3, CAST(N'2021-12-05' AS Date), 3500000.0000, N'1811060369', 1)
SET IDENTITY_INSERT [dbo].[PHIEUDATMUA] OFF
SET IDENTITY_INSERT [dbo].[PHIEUMUATHUOC] ON 

INSERT [dbo].[PHIEUMUATHUOC] ([SOPHIEUMUA], [NGAYMUA], [TONGTIEN], [SDTKHACHHANG]) VALUES (2, CAST(N'2021-11-22' AS Date), 1275000.0000, N'0147258369')
INSERT [dbo].[PHIEUMUATHUOC] ([SOPHIEUMUA], [NGAYMUA], [TONGTIEN], [SDTKHACHHANG]) VALUES (3, CAST(N'2021-11-22' AS Date), 975000.0000, N'0147258369')
INSERT [dbo].[PHIEUMUATHUOC] ([SOPHIEUMUA], [NGAYMUA], [TONGTIEN], [SDTKHACHHANG]) VALUES (4, CAST(N'2021-11-22' AS Date), 230000.0000, N'0147258369')
SET IDENTITY_INSERT [dbo].[PHIEUMUATHUOC] OFF
SET IDENTITY_INSERT [dbo].[THUOC] ON 

INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [DVT], [DONGIA], [SOLUONGTON], [NGAYSANXUAT], [HANSUDUNG], [HINHTHUOC], [MOTA], [MALOAITHUOC]) VALUES (2, N'Panadol Extra', N'hộp', 225000, 4, CAST(N'2020-08-12' AS Date), CAST(N'2022-08-12' AS Date), N'null', N'Thuốc giảm đau, hạ sốt Panadol 500mg vỉ xanh dương có thành phần là Paracetamol 500mg, được dùng để hạ sốt,giảm đau từ nhẹ đến vừa bao gồm: Đau đầu, đau nửa đầu, đau cơ, đau bụng kinh, đau cơ xương khớp, đau sau khi tiêm Vacxin, đau răng hoặc sau các thủ thuật nha khoa.', 2)
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [DVT], [DONGIA], [SOLUONGTON], [NGAYSANXUAT], [HANSUDUNG], [HINHTHUOC], [MOTA], [MALOAITHUOC]) VALUES (3, N'Glotadol Flu', N'hộp', 120000, 2, CAST(N'2020-12-12' AS Date), CAST(N'2022-12-12' AS Date), N'null', N'Glotadol Flu là thuốc giảm đau, hạ sốt được chỉ định để điều trị nhanh chóng các triệu chứng của cảm lạnh và cảm cúm thường gặp.', 2)
SET IDENTITY_INSERT [dbo].[THUOC] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Relationship19]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Relationship19] ON [dbo].[BIENBANHUYTHUOC]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Relationship18]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Relationship18] ON [dbo].[LOAITHUOC]
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Relationship7]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Relationship7] ON [dbo].[PHIEUDATMUA]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship8]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Relationship8] ON [dbo].[PHIEUDATMUA]
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Relationship22]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Relationship22] ON [dbo].[PHIEUMUATHUOC]
(
	[SDTKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship21]    Script Date: 12/9/2021 12:14:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Relationship21] ON [dbo].[THUOC]
(
	[MALOAITHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BIENBANHUYTHUOC]  WITH CHECK ADD  CONSTRAINT [Relationship19] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BIENBANHUYTHUOC] CHECK CONSTRAINT [Relationship19]
GO
ALTER TABLE [dbo].[CHITIETBIENBAN]  WITH CHECK ADD  CONSTRAINT [Relationship15] FOREIGN KEY([MABB])
REFERENCES [dbo].[BIENBANHUYTHUOC] ([MABB])
GO
ALTER TABLE [dbo].[CHITIETBIENBAN] CHECK CONSTRAINT [Relationship15]
GO
ALTER TABLE [dbo].[CHITIETBIENBAN]  WITH CHECK ADD  CONSTRAINT [Relationship16] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETBIENBAN] CHECK CONSTRAINT [Relationship16]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATMUA]  WITH CHECK ADD  CONSTRAINT [Relationship4] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATMUA] CHECK CONSTRAINT [Relationship4]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATMUA]  WITH CHECK ADD  CONSTRAINT [Relationship5] FOREIGN KEY([SOPHIEUDAT])
REFERENCES [dbo].[PHIEUDATMUA] ([SOPHIEUDAT])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATMUA] CHECK CONSTRAINT [Relationship5]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATMUA]  WITH CHECK ADD  CONSTRAINT [Relationship6] FOREIGN KEY([SOPHIEUDAT])
REFERENCES [dbo].[PHIEUDATMUA] ([SOPHIEUDAT])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATMUA] CHECK CONSTRAINT [Relationship6]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUATHUOC]  WITH CHECK ADD  CONSTRAINT [Relationship10] FOREIGN KEY([SOPHIEUMUA])
REFERENCES [dbo].[PHIEUMUATHUOC] ([SOPHIEUMUA])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUATHUOC] CHECK CONSTRAINT [Relationship10]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUATHUOC]  WITH CHECK ADD  CONSTRAINT [Relationship9] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUATHUOC] CHECK CONSTRAINT [Relationship9]
GO
ALTER TABLE [dbo].[LOAITHUOC]  WITH CHECK ADD  CONSTRAINT [CO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOTHUOC] ([MAKHO])
GO
ALTER TABLE [dbo].[LOAITHUOC] CHECK CONSTRAINT [CO]
GO
ALTER TABLE [dbo].[PHIEUDATMUA]  WITH CHECK ADD  CONSTRAINT [Relationship7] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDATMUA] CHECK CONSTRAINT [Relationship7]
GO
ALTER TABLE [dbo].[PHIEUDATMUA]  WITH CHECK ADD  CONSTRAINT [Relationship8] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUDATMUA] CHECK CONSTRAINT [Relationship8]
GO
ALTER TABLE [dbo].[PHIEUMUATHUOC]  WITH CHECK ADD  CONSTRAINT [Relationship22] FOREIGN KEY([SDTKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([SDTKHACHHANG])
GO
ALTER TABLE [dbo].[PHIEUMUATHUOC] CHECK CONSTRAINT [Relationship22]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [Relationship21] FOREIGN KEY([MALOAITHUOC])
REFERENCES [dbo].[LOAITHUOC] ([MALOAITHUOC])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [Relationship21]
GO
USE [master]
GO
